@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @layer components{
    .ContentDiv{
      @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2
    }
    .GameCounter{
      @apply font-bold absolute top-6 left-1/2 -translate-x-1/2  bg-black bg-opacity-90 text-white p-2 select-none
    }
    .GameScore{
      @apply text-xl font-bold text-red-800 mb-4 select-none
    }
    .GameOver{
      @apply w-[300px] h-auto bg-black bg-opacity-90 flex justify-center items-center p-3 rounded
       text-white font-bold select-none
    }
    .Button{
      @apply  bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600
    }
    .VerticalDiv{
       @apply h-[430px] w-[200px]  flex flex-col justify-between items-center relative
    }
    .Poop{
      @apply w-10 h-10 absolute top-[30%] animate-move-down -z-10 select-none
    }
    .DropDiv{
      @apply w-full h-32 flex justify-center bg-black bg-opacity-15
    }
    .Toilet{
      @apply w-[150px] h-full cursor-grab
    }
  }
  